<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @carrier.Name %>
</p>

<p>
  <b>Code:</b>
  <%= @carrier.Code %>
</p>

<p>
  <b>Active:</b>
  <%= @carrier.Active %>
</p>


<%= link_to 'Edit', edit_carrier_path(@carrier) %> |
<%= link_to 'Back', carriers_path %>
