<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :State_ID %><br />
    <%= f.number_field :State_ID %>
  </div>
  <div class="field">
    <%= f.label :Active %><br />
    <%= f.check_box :Active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
