<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.Name %>
</p>

<p>
  <b>Lam id:</b>
  <%= @client.LAM_ID %>
</p>

<p>
  <b>Active:</b>
  <%= @client.Active %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
