<h1>Listing demands</h1>

<table>
  <tr>
    <th>Order id</th>
    <th>Railcar id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @demands.each do |demand| %>
  <tr>
    <td><%= demand.Order_ID %></td>
    <td><%= demand.Railcar_ID %></td>
    <td><%= link_to 'Show', demand %></td>
    <td><%= link_to 'Edit', edit_demand_path(demand) %></td>
    <td><%= link_to 'Destroy', demand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demand', new_demand_path %>
