<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Contact_ID %><br />
    <%= f.number_field :Contact_ID %>
  </div>
  <div class="field">
    <%= f.label :Facility_ID %><br />
    <%= f.number_field :Facility_ID %>
  </div>
  <div class="field">
    <%= f.label :Railcar_Demand %><br />
    <%= f.number_field :Railcar_Demand %>
  </div>
  <div class="field">
    <%= f.label :Railcar_Type_ID %><br />
    <%= f.number_field :Railcar_Type_ID %>
  </div>
  <div class="field">
    <%= f.label :Status_ID %><br />
    <%= f.number_field :Status_ID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
