<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Client Contact" %><br />
    <%= collection_select :order, :Contact_ID, Contact.all, :id, :First_Name, options ={:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label "Facility" %><br />
    <%= collection_select :order, :Facility_ID, Facility.all, :id, :Name, options ={:prompt => true} %>
  </div>
    <div class="field">
    <%= f.label "LAM" %><br />
    <%= collection_select :order, :Manager_ID, Manager.all, :id, :First_Name, options ={:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label "Railcar Demand" %><br />
    <%= f.number_field :Railcar_Demand %>
  </div>
  <div class="field">
    <%= f.label "Railcar Type" %><br />
    <%= collection_select :order, :Railcar_Type_ID, RailcarType.all, :id, :Name, options ={:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label "Order Status" %><br />
    
    <%= select(:order, :Status_ID, Status.all.collect {|s| [s.Code, s.id]}, {:prompt => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
