<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.First_Name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.Last_Name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Client id:</b>
  <%= @contact.Client_ID %>
</p>

<p>
  <b>User id:</b>
  <%= @contact.User_ID %>
</p>

<p>
  <b>Active:</b>
  <%= @contact.Active %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
